apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jupyterhub-home-nfs.home-nfs.fullname" . }}-ganesha-config
data:
  ganesha.conf: |
    EXPORT
    {
        # Export Id (mandatory, each EXPORT must have a unique Export_Id)
        Export_Id = 1;

        # Exported path (mandatory)
        Path = /export;

        # Pseudo Path (for NFS v4)
        Pseudo = /;

        # Client access control options
        CLIENT
        {
            Clients = {{ if .Values.nfsServer.enableClientAllowlist }}{{ .Values.nfsServer.allowedClients | join "," }}{{ else }}*{{ end }};
            Anonymous_uid = {{ .Values.quotaEnforcer.config.QuotaManager.uid }};
            Anonymous_gid = {{ .Values.quotaEnforcer.config.QuotaManager.gid }};
            Access_Type = RW;
            Squash = All_Squash;
            SecType = "sys";
        }

        # NFS protocol options
        Transports = TCP;
        Protocols = 3, 4;

        SecType = "sys";

        # Exporting FSAL
        FSAL {
            Name = VFS;
        }
    }

    NFSv4 {
        # During the startup grace period, the NFS server only accepts recovery
        # related operations, and will block normal operations. It is a
        # mechanism to avoid corruption issues by allowing clients to finalize
        # things they had a lease for before they lost connectivity, allowing
        # other clients to start doing new things.
        #
        # Lease_Lifetime defaults to 60, and Grace_Period to 90. We retain the
        # 1.5 ratio as their relative proportions was of importance.
        #
        Lease_Lifetime = 20;
        Grace_Period = 30;
    }
